body {
  font-family: 'Futura', sans-serif;
  background-color: #fef9ef;
  color: #333;
  padding: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: #fffaf2;
  border: 4px double #e49b0f;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 12px #f0d9b5;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #e94f37;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #4f4f4f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
  accent-color: #e94f37;
}
